html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Raleway', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************/


.wrapper {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

.center {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.container1 {
	background-image: url(./img/slide1.png);
	width: 100%;
	max-width: 1920px;
	height: 100vh;
	max-height: 1024px;
	background-repeat: no-repeat;
	background-size: cover;
}

.container1 .center header {
	padding-top: 38px;
}

.container1 .center header .block_logo {
	display: inline-block;
}

.container1 .center header .block_logo p {
	display: inline;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #f3f5f3;
	font-size: 34px;
	position: relative;
	top: -15px;
}

.container1 .center header .heder_navbar {
	display: inline-block;
	width: 70%;
	margin-left: 10%;
	position: relative;
	top: -20px;
}

.container1 .center header .heder_navbar ul {
	display: flex;
	justify-content: space-between;
}

.container1 .center header .heder_navbar ul li {
	display: inline;
}

.container1 .center header .heder_navbar ul li:nth-child(9) {
	margin-left: 30px;
}

.container1 .center header .heder_navbar ul li svg {
	color: #fff;
	font-size: 24px;
	position: relative;
	top: -5px;
}

.container1 .center header .heder_navbar ul li a {
	text-decoration: none;
	color: #b1b2b3;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.container1 .center header .heder_navbar ul li a:hover {
	color: #c7b299;
}

.container1 .center .center_text {
	text-align: center;
	margin-top: 12%;
}

.container1 .center .center_text h2, 
.container1 .center .center_text h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	color: #e7e6e6;
	font-weight: 500;
	line-height: 49px;
}

.container1 .center .center_text h1 {
	font-size: 52px;
	font-weight: 700;
	line-height: 69px;
}

.container1 .center .center_text p {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

.container1 .center .center_text .button1 {
	position: relative;
	top: 52px;
	text-transform: uppercase;
	font-weight: 600;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-decoration: none;
	letter-spacing: 0.5px;
	padding: 15px 35px 15px;
	border-radius: 3px;
	background: rgb(153,134,117);
	box-shadow: 0 3px rgb(140,128,110) inset;
  } 

  .container1 .center .center_text .button1:hover { background: rgb(147,128,113); }
  .container1 .center .center_text .button1:active {
	background: rgb(115,99,87);
	box-shadow: 0 3px rgb(140,128,110) inset;
  }

.container2 {
	width: 100%;
	height: 374px;
	background: #fff;
}

.container2 .center .flex_container {
	padding-top: 90px;
	display: flex;
	justify-content: space-between;
}

.container2 .center .flex_container div {
	text-align: center;
}

.container2 .center .flex_container div svg {
	font-size: 40px;
	color: #555555;
}

.container2 .center  .flex_container div h2 {
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #555555;
	line-height: 50px;
}

.container2 .center .flex_container div p {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #8c8c8c;
	line-height: 24px;
}


.container2 .center .flex_container div .line {
	margin-top: 30px;
	border: none;
	background-color: rgb(241, 238, 233);
	width: 70px;
	height: 3px;
  }

.container2 .center .flex_container div:hover .line {
	background-color: #c7b299;
}

.container2 .center .flex_container div:hover svg,
.container2 .center .flex_container div:hover h2 {
	color: #c7b299;
}

.container3 {
	background: #fbfaf8;
	text-align: center;
}

.container3 .center h2 {
	padding-top: 88px;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #555555;
	line-height: 56px;
}

.container3 .center p {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #8c8c8c;
	line-height: 29px;
}

.container3 img {
	max-width: 1200px;
	width: 100%;
	margin-top: 42px;
}

.container4 {
	height: 150px;
	background: linear-gradient(to right, #211b19, #4c3326);
}

.navbar1 { grid-area: n1; }
.navbar2 { grid-area: n2; }
.navbar3 { grid-area: n3; }

.container4 .center {
	max-width: 1200px;
	display: grid;
  	grid-template-areas:
		'n1 n1 n3'
		'n2 n2 n3';	
}

.container4 .center .navbar1 {
	margin-top: 50px;	
	margin-left: 22px;
}

.container4 .center .navbar1 ul {
	display: flex;
}

.container4 .center .navbar1 ul li {
	margin-right: 1%;
}

.container4 .center .navbar1 ul li a {
	text-decoration: none;
	color: #b1b2b3;
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	line-height: 38px;
}

.container4 .center .navbar1 ul li a:hover {
	color:#c7b299;
}

.container4 .center .navbar2 {
	margin-left: 22px;
}

.container4 .center .navbar2 p {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #615855;
}

.container4 .center .navbar3 {
	margin-top: 50px;
	margin-right: 22px;
}

.container4 .center .navbar3 .button1 { 
	float: right;
	text-transform: uppercase;
	font-weight: 600;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-decoration: none;
	letter-spacing: 0.5px;
	padding: 15px 35px 15px;
	border-radius: 3px;
	background: rgb(153,134,117);
	box-shadow: 0 3px rgb(140,128,110) inset;
  } 

  .container4 .center .navbar3 .button1:hover { background: rgb(147,128,113); }
  .container4 .center .navbar3 .button1:active {
	background: rgb(115,99,87);
	box-shadow: 0 3px rgb(140,128,110) inset;
}


.container5 {
	background: #ffffff;
	text-align: center;
	height: 1160px;
}

.container5 .center h2 {
	padding-top: 80px;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #555555;
	line-height: 53px;
}

.container5 .center p {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #8c8c8c;
	line-height: 29px;
}

.container5 .center .categories ul {
	margin-top: 51px;
	margin-bottom: 48px;
}

.container5 .center .categories ul li {
	display: inline;
	border: 2px solid #ebebeb;
	padding: 11px 17px 11px;
	border-radius: 5px;
	margin-left: 11px;
}

.container5 .center .categories ul li:hover , 
.container5 .center .categories ul li:hover a {
	background-color: #998675;	
	border-color: #998675;	
	color: #ffffff;
}

.container5 .center .categories ul li:nth-child(1) {
	padding: 11px 27px 11px;
}

.container5 .center .categories ul li a {
	font-weight: 300;
	color: #9b9b9b;	
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-decoration: none;
	letter-spacing: 0.5px;
}

.container5 .center .grid-container {
	display: grid;
	grid-template-columns: repeat(3, 370px);
	grid-template-rows: repeat(2, 337px);
	grid-gap: 16px;
}

.container5 .center .grid-container .img1 {
	background: url(img/cat1.png);
	background-size: cover;
    position: relative;
}

.container5 .center .grid-container .img1:nth-child(2) {
	background: url(img/cat2.png);
	background-size: cover;
    position: relative;
}

.container5 .center .grid-container .img1:nth-child(3) {
	background: url(img/cat3.png);
	background-size: cover;
    position: relative;
}

.container5 .center .grid-container .img1:nth-child(4) {
	background: url(img/cat4.png);
	background-size: cover;
    position: relative;
}

.container5 .center .grid-container .img1:nth-child(5) {
	background: url(img/cat5.png);
	background-size: cover;
    position: relative;
}

.container5 .center .grid-container .img1:nth-child(6) {
	background: url(img/cat6.png);
	background-size: cover;
    position: relative;
}

.container5 .center .grid-container .img1:before {
    content: "";
    display: block;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    transition: .5s;
}

.container5 .center .grid-container .img1:hover:before {
	background: rgba(0,0,0, .5);
}

.container5 .center .grid-container .img1 .img2 {
	position: relative;
	top: 227px;
	opacity: 0;
}

.container5 .center .grid-container .img1:hover .img2 {
	opacity: 1;
}

.container5 .center .grid-container .img1 .text {
	position: absolute;
	top: 155px;
	margin-left: 30px;	
	text-align: start;
}

.container5 .center .grid-container .img1 .text h2 {
	color: #c7b299;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.container5 .center .grid-container .img1 .text p {
	color: #d1d1d1;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.container5 .center .grid-container .img1:hover .text h2 {
	color: #d1d1d1;
}

.container5 .center .grid-container .img1:hover .text p {
	color: #c7b299;
}

.container5 .center .grid-container .img1 .svg svg {
	opacity: 0;
	font-size: 20px;
	position: absolute;
	color: white;
}

.container5 .center .grid-container .img1 .svg .svg1 svg {
	color: #c7b299;
	left: 40%;
}

.container5 .center .grid-container .img1:hover .svg svg {
	opacity: 1;
}

.container5 .center .button1 {
	position: relative;
	top: 52px;
	text-transform: uppercase;
	font-weight: 600;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-decoration: none;
	letter-spacing: 0.5px;
	padding: 15px 35px 15px;
	border-radius: 3px;
	background: rgb(153,134,117);
	box-shadow: 0 3px rgb(140,128,110) inset;
  } 

  .container5 .center .button1:hover { background: rgb(147,128,113); }
  .container5 .center .button1:active {
	background: rgb(115,99,87);
	box-shadow: 0 3px rgb(140,128,110) inset;
  }

.container6 {
	height: 700px;
}

 .back {
    width:100%;
    height: 100%;
    max-height: 1024px;
    background: #000;
    overflow: hidden;
    position: relative;
}
.back__video-wrapp  {
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    
}
.back__video-box {
   position: absolute;
   top:0;
   left: 50%;
   height: 100%;
}
.back__video {
    display: inline-block;
    height: 100%;
    transform: translateX(-50%);
    min-height: 768px;
}
.back__video-play{
  width: 100px;
  position: relative;
  border-radius: 50%;
  padding: 35px 0;
  background: #fff;
  top: 10px;
  left: 25px;
  box-shadow: 0 0 12px 1px #000;
  font-size:22px;
  text-align: center;
}

.container7 {
	height: 520px;
	margin-top: 78px;
}

.container7 .center .left_image img {
	max-width: 100%;
}

.container7 .center .right_text h3 {
	padding-top: 112px;
	line-height: 60px;
}

.container7 .center .right_text p {
	padding-bottom: 42px;
}

.container7 .center .right_text ul {
	padding-left: 70px;
}

.container7 .center .right_text ul li {
	list-style-image: url(img/arrow_layer.png);
	padding-left: 20px;
}

.container8 {
	height: 300px;
	background: linear-gradient(to right, #211b19, #4c3326);
}

.container8 .center .content div {
	height: 300px;
	text-align: center;
	padding-top: 73px;
}

.container8 .center .content .items1 svg {
	color: beige;
	font-size: 45px;
}

.container8 .center .content .items1 h2 {
	color: #e7e6e6;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}

.container8 .center .content .items1 p {
	color: #c7b299;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.container8 .center .content .items1 .line {
	margin-top: 30px;
	border: none;
	background-color: rgb(241, 238, 233);
	width: 30px;
	height: 3px;
  }

  .container8 .center .content .items1:hover .line {
	background-color: #c7b299;
}

.container8 .center .content .items1:hover svg,
.container8 .center .content .items1:hover h2 {
	color: #c7b299;
}




@media (max-width:1200px) {

	.center {		
		width: 90%;
	}

	.container1 .center header .heder_navbar {
		margin-left: 20%;
	}

	.container1 .center header .heder_navbar,
	.container1 .center header .heder_navbar ul, 
	.container1 .center header .heder_navbar ul li {
		top:0;
		display: grid;
    	grid-gap: 5px;
    	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    	grid-template-rows: repeat(4, 20px);
	}

	.container1 .center header .heder_navbar ul li:nth-child(9) {
		margin-left: 0;
	}

	.container1 .center .center_text {
		margin-top: 5%;
	}

	.container2 .center .flex_container {
		display: grid;
    	grid-gap: 5px;
    	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    	grid-template-rows: repeat(3, 200px);
	}

	.container5 .center .grid-container {
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, 370px);
		grid-template-rows: repeat(3, 337px);
		justify-content: center;
	}

	.container7 {
		height: 100%;
	}

	.container8 {
		height: 100%;
	}
	

}

@media (max-width:850px) {

	.center {
		width: 90%;
	}

	.container2 {
		height: 100%
	}

	.container2 .center .flex_container {
		display: grid;
    	grid-gap: 5px;
    	grid-template-columns: repeat(2, 1fr);
    	grid-template-rows: repeat(2, 1fr);
	}

	.container4 .center .navbar1 {
		margin: 15px 0;
	}

	.container4 .center .navbar1 ul {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 30px);
	}

	.container4 .center .navbar1 ul li {
		text-align: center;
	}
	
	.container4 .center .navbar2 {
		text-align: center;
	}

	.container5 {
		height: 100%;
	}

	.container5 .center .categories ul {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    	grid-template-rows: repeat(3, 50px);
		justify-content: center;
	}

	.container5 .center .grid-container {
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, auto);
		grid-template-rows: repeat(6, 337px);
		justify-content: center;
	}

	.container5 .center .grid-container .img1 img {
		max-width: 100%;
	}

}


@media (max-width:520px) {

	.container1 {
		height: 136vh;
	}

	.center {
		width: 90%;
	}

	.container1 .center .center_text h1 {
		font-size: 36px;
	}

	.container1 .center .center_text h2 {
		font-size: 25px;
	}

	.container1 .center .center_text {
		margin-top: 25%;
	}

	.container2 .center .flex_container {
		display: block;
	}

	.container4 .center .navbar1 ul li a {
		font-size: 20px;
	}
	.container4 .center .navbar3 .button1 {
		font-size: 12px;
		padding: 10px 20px 10px;
	}
	
	.container5 .center h2 {
		padding-top: 85px;
	}

}

@media (max-width:382px) {

	.container1 {
		height: 150vh;
	}

	.container1 .center .center_text {
		margin-top: 36%;
	}

	.container4 {
		height: 100%;
		padding-bottom: 20px;
	}

	.container4 .center {
		display: grid;
		grid-template-areas:
			'n1 n1 n1'
			'n2 n2 n2'
			'. n3 .';
	}

	.container4 .center .navbar3 {
		margin-top: 20px;
		align-self: center;
	}

	.container5 .center .grid-container .img1 img {
		max-width: 100%;
	}
		
}

@media (max-width:330px) {

	.container1 {
		height: 190vh;
	}

	.container1 .center header .heder_navbar,
	.container1 .center header .heder_navbar ul, 
	.container1 .center header .heder_navbar ul li {
		text-align: center;
		display: block;
		margin-top: 5%;
	}
}
